.account-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  padding: 4rem 2rem;

  box-sizing: border-box;
}
