h1 {
  font-size: 7rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: $font-size-l;
}
h5 {
  font-size: $font-size-m;
}

p {
  font-size: $font-size-m;
}
span {
  font-size: $font-size-m;
}
li {
  font-size: $font-size-m;
}
a {
  font-size: $font-size-m;
  color: $primary-color;
  text-decoration: none;
}

label {
  font-size: $font-size-m;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 600;
}
input {
  font-family: $font-default;
  font-size: $font-size-m;
  line-height: 1.6;

  width: 100%;

  padding: 0rem 0rem 0.7rem 0.5rem;

  border-width: 0 0 1px 0;
  border-color: $divider-color;
  border-style: solid;
  box-sizing: border-box;
  outline: none;
}
input:focus {
  outline: none;
  border-color: $secondary-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  font-family: $font-default;
  font-size: $font-size-m;

  padding: 1rem;
  margin-top: 1.5rem;

  box-sizing: border-box;
  border: 1px solid $divider-color;

  outline: none;
}
textarea:focus {
  border: 1px solid $secondary-color;
  outline: none;
}

button {
  font-family: $font-default;
  font-size: $font-size-m;
  font-weight: 600;
  color: $primary-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;

  padding: 0rem;

  background-color: white;
  border: 1px solid $divider-color;

  border-radius: 0rem;

  box-sizing: border-box;
  cursor: pointer;

  // &:hover {
  //   color: $secondary-color;
  //   border: 1px solid $secondary-color;
  // }
}
.button {
  @extend button;
}
.button--d {
  @extend button;
  padding: 1rem 1rem;
}
.button--m {
  @extend button;
  padding: 0.75rem 1rem;
}
.button--l {
  @extend button;
  padding: 2rem 2rem;
}
.button--f {
  @extend button;
  padding: 2rem 2rem;
  width: 100%;
}

.input--double {
  height: 3.2rem;
}
.input--100 {
  width: 100%;
}

.fixed {
  position: sticky;
}

.row {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 0rem 0;
}
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & label {
    width: auto;
    padding: 0.5rem 0;
    border-bottom: 1px solid $divider-color;
    box-sizing: border-box;
  }
}
.border-top--primary {
  border-top: 1px solid $primary-color;
}
.border-bottom--primary {
  border-bottom: 1px solid $primary-color;
}

.border-top--divider {
  border-top: 1px solid $divider-color;
}
.border-bottom--divider {
  border-bottom: 1px solid $divider-color;
}

.highlighted {
  border: 1px solid $secondary-color !important;
}

.w100p {
  width: 100%;
}

.button--alert {
  background-color: $secondary-color;
  color: white;
  border: 1px solid $secondary-color;
}

.template {
  width: 100%;
  display: grid;
  // grid-template-rows: repeat(auto);
  justify-items: center;
  align-items: center;
  row-gap: 3rem;
}

.template__row {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0rem;

  padding: 0rem 0;
  box-sizing: border-box;
}
.square {
  width: 100%;
  aspect-ratio: 1 / 1;

  box-sizing: border-box;
  border: 1px solid black;
}
.band {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  padding: 0rem;
  margin: 0.5rem 0;

  box-sizing: border-box;
  border: 1px solid $divider-color;

  overflow-y: hidden;
  & div {
    padding: 1rem;
  }
  & .band__delete {
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-left: 1px solid $divider-color;
  }
}

.page-title {
  color: $primary-accent;

  width: 100%;
  max-height: 3rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0rem 2rem 0rem 2rem;
  margin-top: 6rem;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
}
.center-border {
  width: 100%;
  padding-left: 2rem;
  box-sizing: border-box;
  & div:first-child {
    border-bottom: 1px solid $accent-color;
  }
}
.default {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  &::after {
    font-size: $font-size-s;
    content: "default";
    position: absolute;
    margin-top: 2px;
    right: 0.8rem;
  }
}

.selected {
  @extend .default;
  &::after {
    content: "selected";
  }
}

.justify-self--flex-start {
  justify-self: flex-start;
}
.align-self-flex-start {
  align-self: flex-start;
}

.margin-top--1rem {
  margin-top: 1rem;
}

.map__pop-up {
  position: absolute;
  width: 15rem;
  height: 7rem;
  background-color: white;
  border: 1px solid red;
}
