.driver__order__row {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0rem;

  padding: 0rem 2rem;
  margin: 1rem 0;

  border: 1px solid $divider-color;
  box-sizing: border-box;

  opacity: 1;
  max-height: 100vh;
  transition: all 0.3s;
}
.driver__order__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.driver__order__item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 0rem;
  justify-items: center;
  align-items: center;

  padding: 2rem 0rem 1.5rem 0rem;
  box-sizing: border-box;

  & div:nth-child(1),
  & div:nth-child(4) {
    justify-self: start;
  }
  & div:nth-child(3),
  & div:nth-child(6) {
    justify-self: end;
  }
}

.driver__order__buttton__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;

  & div:first-child {
    background-color: pink;
  }
}
.driver__order__buttton {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  box-sizing: border-box;
  transition: all 0.3s;
}

.googleMap--m {
  min-width: 100%;
  aspect-ratio: 1/1;
}
.googleMap--s {
  min-width: 100%;
  aspect-ratio: 3/2;
}
.googleMap--c {
  position: relative;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.driver__start-button {
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 9rem;
  left: 2rem;
}
.mapInitRatio {
  aspect-ratio: 1 / 1;
}
.mapStickyRatio {
  position: sticky;
  top: 0;
  position: sticky;
  aspect-ratio: 2 / 1;
}
//
