.driver__order__row {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0rem;

  padding: 0rem 2rem;
  margin: 1rem 0;

  // border: 1px solid $divider-color;
  // border-top: 1px solid $shaodw-color;
  // border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px $shaodw-color;

  opacity: 1;
  max-height: 100vh;
  transition: all 0.3s;
}
.driver__order__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.driver__order__item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 0rem;
  justify-items: center;
  align-items: center;

  padding: 2rem 0rem 1.5rem 0rem;
  box-sizing: border-box;

  & div:nth-child(1),
  & div:nth-child(4) {
    justify-self: start;
  }
  & div:nth-child(3),
  & div:nth-child(6) {
    justify-self: end;
  }
}

.driver__order__button__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;
  & button {
    border: none;
  }
}

.driver__order__button--cancel {
  background-color: pink;
}

.google-map {
  position: relative;

  background-color: $background-color;

  border-width: 1px 0rem 1px 0rem;
  border-color: $divider-color;
  border-style: solid;
}

.googleMap--m {
  min-width: 100%;
  aspect-ratio: 1/1;
}
.googleMap--s {
  min-width: 100%;
  aspect-ratio: 3/2;
}
.googleMap--c {
  position: relative;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  border-bottom: 1px solid $divider-color;
}

.driver__start-button {
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 9rem;
  left: 2rem;
}
.mapInitRatio {
  aspect-ratio: 1 / 1;
}
.mapStickyRatio {
  position: sticky;
  top: 0;
  aspect-ratio: 2 / 1;
  box-shadow: 0px 0px 10px $divider-color;
}
.wtf {
  width: 100%;
  height: 100%;
}
.map__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.map__get-detail {
  width: auto;
  position: absolute;
  justify-content: center;
  margin: 0 auto;
  bottom: 2rem;
  box-shadow: 1px 1px 5px #b3b3b3;
}
.map__trip-detail__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3rem;
  padding: 3rem 2rem;
  box-sizing: border-box;
  background-color: $background-secondary;
}
.map__trip-detail__info {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
}

.driver-account {
  width: 100%;
  display: grid;
  justify-items: center;
}
.driver__order__date-selector {
  width: 100%;
  min-height: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  // border: 1px solid #ccc;
  box-sizing: border-box;

  overflow-x: visible;
}
.driver__order__date-item {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  // border: 1px solid $divider-color;
  box-shadow: 0px 1px 3px $shaodw-color;
  background-color: $color--disabled;

  & * {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  & p {
    background-color: $background-color;
  }
}
.driver__order__date-item--selected {
  background-color: $accent-color;
  & label {
    color: white;
  }
}
