.landing__container {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-top: 20vh;
  margin-bottom: 0rem;

  z-index: 1;
}
.landing__welcome {
  width: 100%;

  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  row-gap: 0rem;
}
.landing__status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.landing__container__buttons {
  // width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 2rem;
  & button {
    width: 100%;
  }
}

.landing__order-container {
  width: 100%;
  display: grid;
  row-gap: 2rem;
  place-items: center;
}

.google {
  position: fixed;
  top: 20px;
  right: 20px;
}

//

.circular-progess {
  position: relative;
  width: 60%;
  aspect-ratio: 1 /1;
  // background-color: #c6e5f0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0px 7px 5px $shaodw-color;
}
.circular-progess:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px $shaodw-color;
  // top: 0.8rem;
  // left: 0.8rem;
}
.value-container {
  position: relative;
  color: black;
  display: grid;
  place-items: center;
  // top: -0.75rem;
  // left: -0.75rem;
}

.landing__orders {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.landing__background {
  position: absolute;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
  aspect-ratio: 2 / 1;

  z-index: 0;
  overflow: hidden;
}

.background--1 {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 2/1;

  background-color: $accent-color;
}
.background--2 {
  position: absolute;
  width: 100%;
  bottom: 5vh;
  left: 0;
}

.bg__element {
  position: absolute;
}
.bg__background {
  width: 100%;
  height: 100%;
  position: relative;
  top: -2rem;
  background-color: $background-secondary;
}
.bg__sun {
  width: 150%;
  top: -100%;
  left: 0;
}
