@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$primary-color: #707070;
$secondary-color: red;
$accent-color: #5bffac;
$primary-accent: black;
$divider-color: #ccc;
$background-color: rgba(255, 255, 255, 0.9);
$background-secondary: #fcfcfc;

$dev100vw: 414px;
$dev100vh: 896px;

// $font-default: "Nunito Sans", sans-serif;
// $font-default: "Raleway", sans-serif;
$font-default: "Open Sans", sans-serif;

$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 1.6rem;

@import "modal";
@import "header";
@import "landing";
@import "base";
@import "form";
@import "signIn";
@import "google";
@import "order";
@import "account";
@import "driver";
@import "animation";

html {
  color: $primary-color;
}

.container {
  font-family: $font-default;

  position: relative;

  // width: 414px;
  // height: 896px;
  width: 100vw;
  min-height: 100vh;
  // height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0rem auto;
  padding-bottom: 8rem;

  box-sizing: border-box;
}
