$primary-color: #707070;
$secondary-color: red;
$divider-color: #ccc;
$dev100vw: 414px;
$dev100vh: 896px;

@import "landing";
@import "base";
@import "pickup";

html {
  color: $primary-color;
}

.container {
  position: relative;

  // width: 414px;
  // height: 896px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0rem auto;
  border: 1px solid red;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-size: 1.4rem;
}
li {
  font-size: 1.4rem;
}
